
/* Your CSS Code here. */
#head{
    font-size: 30px;
    padding: 5px;
    border-bottom: 20px;
    border-color: darkblue;
    color: green;
}
#sum{
    font-family: 'Roboto', sans-serif;
}
#quote{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
#image{
    max-width: 20%;
    height: 50%;
}